          <div class="collapse" id="courses">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-4">
                  <%= image_tag 'projects/firmsoneblog.png', width: '100%' %>
                  <%= link_to "FirmsOne Blog", root_path %>
                </div>
                <div class="col-md-4">
                  <%= image_tag 'projects/cctv.jpg', width: '100%' %>
                  <%= link_to "Mitsubishi CCTV", "https://www.sourcesecurity.com/products-search-results/digital-recorders/make.mk-396-ga.html", target: '_blank' %>
                </div>
                <div class="col-md-4">
                  <%= image_tag 'projects/arubaitoex.png', width: '100%' %>
                  <%= link_to "ArubaitoEx Job", "https://arubaito-ex.jp/", target: '_blank' %>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-4">
                  <%= image_tag 'projects/lcl.jpg', width: '100%' %>
                  <%= link_to "Smart Day Project", "http://dog.flomail.net", target: '_blank' %>
                </div>
                <div class="col-md-4">
                  <%= image_tag 'projects/firmsone.png', width: '100%' %>
                  <%= link_to "FirmsOne Travelling Project", "https://firmsone.com", target: '_blank' %>
                </div>
              </div>
            </div>
          </div>
